* { box-sizing: border-box; }

/********************************  	
	FOOTER
*********************************/

div.footer {
	margin-top: 1.5rem;
  padding-bottom: 1%;
  text-align: center;
  color: white;
}

footer p { font-size: 18px; }

#logoFooter { width: 130px; }

/********************************  	
	Cuerpo y Contenedor de la página
*********************************/

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 20;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-image: $space-fondo;
  color: $space-color;
}

.space-container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: lightsteelblue;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.space-container__title { color: $space-color-h1; }

.space-container__paragraph {
  max-width: 950px;
  text-align: justify;
  margin: auto;
}

.space-container__enumerate {
  padding-top: 20px;
  max-width: 750px;
  text-align: justify;
  margin: auto;
}


/**********************************	
	GRID DE IMÁGENES FLEXIBLE 
***********************************/

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 25%;
	max-width: 70%;
	padding: 0 4px;

  img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
  }
}


@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

